@using ErpProject.Models
@model AdditionalDetails

@section Styles
{
    <link rel="stylesheet" href="~/CSS/update.css" asp-append-version="true">
}

@{
    int id = Convert.ToInt32(ViewData["Id"]);
}

<div>
    <table>
        <tbody>
            <tr>
                <td><b>Emergency Numbers:</b></td>
                <td>@Model.EmergencyNumbers</td>
            </tr>

            <tr>
                <td><b>Education:</b></td>
                <td>@Model.Education</td>
            </tr>
            
            <tr>
                <td><b>Certification and Documents</b></td>

                <td>
                    <a>Click Here</a>
                </td>
            </tr>

            <tr>
                @if(string.IsNullOrEmpty(Model.EmergencyNumbers) && string.IsNullOrEmpty(Model.Education))
                {
                    <td><a asp-action="Add" asp-controller="AdditionalDetails" asp-route-id="@id">Add Details</a></td>
                }
                else
                {
                    <td><a asp-action="Update" asp-controller="AdditionalDetails" asp-route-id="@id">Edit</a></td>
                }
            </tr>
        </tbody>
    </table>
</div>