@using Employees.Domain
@model EmplooyeeId

@section Styles
{
    <link rel="stylesheet" href="~/css/update.css" asp-append-version="true">
}

<div style="text-align: left; margin-left: 0; padding-left: 20px; margin-top: -20px;">

    <h3>Details</h3>
    <div id="mainDetails" style="margin-top: -30px;"></div>

    <h3>Role</h3>
    <div id="roles" style="margin-top: -30px;"></div>
    
    <h3>Additional Details</h3>
    <div id="additionalDetails" style="margin-top: -30px;"></div>

    <h3>Employment Details</h3>
    <div id="employmentDetails" style="margin-top: -30px"></div>
    
    <h3>Identifications</h3>
    <div id="identifications" style="margin-top: -30px"></div>

</div>

<div>
    <img src="/files/@Model.Id/photograph" style="max-width: 400px; max-height: 400px; padding-left: 30px; padding-top: 43px">
</div>

<script>window.Id = @Model.Id</script>
<script type="module" src="~/js/MainDetails.js"></script>
<script type="module" src="~/js/AdditionalDetails.js"></script>
<script type="module" src="~/js/EmploymentDetails.js"></script>
<script type="module" src="~/js/Roles.js"></script>