@using System.Security.Claims
@using Employees.Contracts.EmployeeContracts
@model ResponseEmployee.Get

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<table>
        <tbody>
            <tr>
                <td><b>First Name:</b></td>
                <td id="FirstName"></td>
            </tr>

            <tr>
                <td><b>Last Name:</b></td>
                <td id="LastName"></td>
            </tr>

            <tr>
                <td><b>Email:</b></td>
                <td id="Email"></td>
            </tr>

            <tr>
                <td><b>Age:</b></td>
                <td id="Age"></td>
            <tr>
                <td><b>Date of Birth:</b></td>
                <td id="DateOfBirth"></td>
            </tr>

            <tr>
                <td><b>Nationality:</b></td>
                <td id="Nationality"></td>
            </tr>

            <tr>
                <td><b>Gender:</b></td>
                <td id="Gender"></td>
            </tr>

            <tr>
                <td><b>Phone Number:</b></td>
                <td id="PhoneNumber"></td>
            </tr>
            @if(User.Identity!.IsAuthenticated && (User.FindFirst(ClaimTypes.Role)?.Value == "Admin" || User.FindFirst(ClaimTypes.Role)?.Value == "Manager"))
            {
                <tr>
                    <td><a id="MDEditForm" href="#">Edit</a></td>
                </tr>
            }

            <tr>
                <td><a id="MDEditForm" href="#">Edit</a></td>
            </tr>
        </tbody>
    </table>