@using Employees.RazorComponents.EmployeeComponents

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<div>
    <div>
        <a asp-action="Create" asp-controller="Employees">Register new Employee</a>
    </div>

    <div>
        <component type="typeof(GetAllEmployees)" render-mode="ServerPrerendered"/>
    </div>
</div>

<!-- <script src="~/js/Employees.js"></script> -->