# Ignoring settings.json as it contains environment-specific configurations
ErpProject/settings.json
ErpProject/bin/
# Ignoring the obj directory as it contains build artifacts
ErpProject/obj

# Ignoring the testing project directory as it contains temporary test files and outputs
TestingProject/
ErpProject/obj/Debug/net9.0/ErpProject.AssemblyInfoInputs.cache
ErpProject/obj/Debug/net9.0/ErpProject.AssemblyInfo.cs
ErpProject/bin/Debug/net9.0/ErpProject.dll
ErpProject/bin/Debug/net9.0/ErpProject.exe
ErpProject/bin/Debug/net9.0/ErpProject.pdb
ErpProject/obj/ErpProject.csproj.nuget.dgspec.json
ErpProject/obj/project.nuget.cache
ErpProject/obj/Debug/net9.0/apphost.exe
ErpProject/obj/Debug/net9.0/ErpProject.AssemblyInfo.cs
ErpProject/obj/Debug/net9.0/ErpProject.AssemblyInfoInputs.cache
ErpProject/obj/Debug/net9.0/ErpProject.assets.cache
ErpProject/obj/Debug/net9.0/ErpProject.csproj.CoreCompileInputs.cache
ErpProject/obj/Debug/net9.0/ErpProject.csproj.FileListAbsolute.txt
ErpProject/obj/Debug/net9.0/ErpProject.dll
ErpProject/obj/Debug/net9.0/ErpProject.GeneratedMSBuildEditorConfig.editorconfig
ErpProject/obj/Debug/net9.0/ErpProject.pdb
ErpProject/obj/Debug/net9.0/ErpProject.sourcelink.json
ErpProject/obj/Debug/net9.0/ref/ErpProject.dll
ErpProject/obj/Debug/net9.0/refint/ErpProject.dll
