@using System.Security.Claims

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<table>
    <tbody>
        <tr>
            <td><b>Position:</b></td>
            <td id="Position"></td>
        </tr>

        <tr>
            <td><b>Department:</b></td>
            <td id="Department"></td>
        </tr>

        <tr>
            <td><b>Employment Status:</b></td>
            <td id="EmploymentStatus"></td>
        </tr>

        <tr>
            <td><b>Hire Date:</b></td>
            <td id="HireDate"></td>
        </tr>

        <tr>
            <td><b>Contract Type:</b></td>
            <td id="ContractType"></td>
        </tr>

        <tr>
            <td><b>Work Location:</b></td>
            <td id="WorkLocation"></td>
        </tr>

        <tr>
            <td colspan="2" id="create-update-EmpDe"></td>
        </tr>
    </tbody>
</table>