@using ErpProject.Models.DTOModels
@using ErpProject.Models.RolesModel
@model ViewModelDTO

@using(Html.BeginForm("Add", "Roles", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        <label>Select a Role</label>
        <select asp-for="@Model.Roles.SelectedRole">
            <option value="" disabled selected>--Role--</option>
            @foreach(Roles role in Model.Roles.RolesNameList)
            {
                <option value="@role.Id">@role.RoleName</option>
            }
        </select>
        <button type="submit">Next</button>
    </div>
}