@using ErpProject.Models.EmployeeProfile
@model Employee

<p>Something Went Wrong</p>
<form asp-action="Delete" asp-controller="Employee" asp-route-id="@Model.Id">
    <button type="submit" asp-controller="Employee" asp-action="Index">Back</button>
</form>
