@using ErpProject.Models
@model Employee

<div>
    <table>
        <tbody>
            <tr>
                <td>First Name: </td>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.LastName</td>
            </tr>
        </tbody>
    </table>
</div>