@using ErpProject.Models.EmployeeProfile
@model List<Employee>

<div>
    <a asp-controller="Employee" asp-action="Register">Register new Employee</a>
</div>

@foreach(Employee employee in Model)
{
    
}