@using ErpProject.Models.EmployeeModel
@model Employee

<div>
    <form asp-action="Register" method="post">
        <ul style="list-style: none;">
            <li>
                <label>First Name</label>
                <input type="text" asp-for="FirstName">
                <span asp-validation-for="FirstName"></span>
            </li>

            <li>
                <label>Last Name</label>
                <input type="text" asp-for="LastName">
                <span asp-validation-for="LastName"></span>
            </li>

            <li>
                <label>Email</label>
                <input type="email" asp-for="Email">
                <span asp-validation-for="Email"></span>
            </li>

            <li>
                <label>Date of Birth</label>
                <input type="date" asp-for="DateOfBirth">
                <span asp-validation-for="DateOfBirth"></span>
            </li>

            <li>
                <label>Nationality</label>
                <input type="text" asp-for="Nationality">
                <span asp-validation-for="Nationality"></span>
            </li>

            <li>
                <label>Gender</label>
                <input type="text" asp-for="Gender">
                <span asp-validation-for="Gender"></span>
            </li>

            <li>
                <label>Phone Number</label>
                <input type="text" asp-for="PhoneNumber">
                <span asp-validation-for="PhoneNumber"></span>
            </li>

            <li>
                <button type="submit">Register</button>
            </li>
        </ul>
    </form>
</div>