@using ErpProject.Models.DTOModels.EmployeeDTO
@model EmployeeDTO

<div>
    <form asp-controller="Employee" asp-action="Update" method="post">
        <ul style="list-style: none;">
            <li>
                <label>Email</label>
                <input type="text" asp-for="@Model.Email">
            </li>

            <li>
                <label>Phone Number</label>
                <input type="text" asp-for="@Model.PhoneNumber" placeholder="@Model.PhoneNumber">
            </li>

    using ErpProject.Models.EmployeeProfile;
            <li>
                <button type="submit">Update</button>
            </li>
        </ul>
    </form>
</div>