.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 208, 255);
    border-radius: 3px;
}

.navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
}