<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<form id="roleForm">
    @Html.AntiForgeryToken()
    <table>
        <tbody>
            <tr>
                <td><b>Role:</b></td>
                <td id="roleselection"></td>
            </tr>
        </tbody>
    </table>
</form>