<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<table>
    <tbody>
        <tr>
            <td><b>Role:</b></td>
            <td id="RoleName"></td>
        </tr>

        <tr>
            <td>
                <a id="create-or-update-role" href="#"></a>
            </td>
        </tr>
    </tbody>
</table>