@using System.Security.Claims
@using Employees.Domain
@model EmplooyeeId

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<table>
    <tbody>
        <tr>
            <td><b>Emergency Number:</b></td>
            <td id="EmergencyNumber"></td>
        </tr>

        <tr>
            <td><b>Education:</b></td>
            <td id="Education"></td>
        </tr>

        <tr>
            <td><b>Documents:</b></td>
            <td><a asp-action="Get" asp-controller="File" asp-route-id="@Model.Id">Click here</a></td>
        </tr>

        <tr>
            <td colspan="2" id="create-or-udpate"></td>
        </tr>
    </tbody>
</table>