@using Employees.Contracts.AdditionalDetailsContract
@model RequestAdditionalDetails.Update

<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<div>
    <form asp-action="Update" asp-route-id="@Model.Id" enctype="multipart/form-data">
    @Html.AntiForgeryToken()

    <input type="hidden" name="_method" value="PUT">
    
        <table>
            <tbody>
                <tr>
                    <td><label><b>Emergency Numbers:</b></label></td>
                    <td>
                        <input type="text" asp-for="@Model.EmergencyNumbers">
                    </td>
                </tr>

                <tr>
                    <td><label><b>Education:</b></label></td>
                    <td>
                        <input type="text" asp-for="@Model.Education">
                    </td>
                </tr>

                <tr>
                    <td><button type="submit">Save</button></td>
                    <td><a id="CancelAdForm" href="#">Cancel</a></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>