<link rel="stylesheet" href="~/css/update.css" asp-append-version="true">

<form id="editAdditionalDetails">
    @Html.AntiForgeryToken()
    <table>
        <tbody>
            <tr>
                <td><b>Emergency Number:</b></td>
                <td>
                    <input id="EmergencyNumbers" type="text" name="EmergencyNumbers">
                </td>
            </tr>

            <tr>
                <td><b>Education:</b></td>
                <td>
                    <input id="Education" type="text" name="Education">
                </td>
            </tr>

            <tr>
                <td>
                    <button type="submit">Save</button>
                </td>

                <td>
                    <a id="cancelAdditionalDetails" href="#">Cancel</a>
                </td>
            </tr>
        </tbody>
    </table>
</form>