@using ErpProject.Models.EmployeeProfile
@model EmploymentDetails

<div>
    <ul style="list-style: none;">
        <li>
            @Model.EmploymentStatus
        </li>

        <li>
            @Model.Position
        </li>
    </ul>
</div>